Host specht specht.stfl.dev
  HostName specht.stfl.dev
  # HostName 75.119.134.30
  ForwardAgent yes
  User root
  IdentityFile /home/slendl/.ssh/id_ed25519

Host fink fink.stfl.dev
  HostName fink.stfl.dev
  # HostName 38.242.247.145
  ForwardAgent yes
  User root
  IdentityFile /home/slendl/.ssh/id_ed25519
