# TODO unfortunatly i couldn't get this to work.. couldnt resolve nest.leah.proxmox.com even though it's defined here as well as /etc/hosts
# CanonicalizeHostname yes
# CanonicalDomains leah.proxmox.com proxmox.com
# CanonicalizeMaxDots 1
# CanonicalizeFallbackLocal yes

# Host *.leah.proxmox.com
#   ForwardAgent yes
#   User root
#   IdentityFile /home/slendl/.ssh/id_ed25519_proxmox_leah

Host nest nest.leah.proxmox.com
  HostName 192.168.23.161
  ForwardAgent yes
  User root
  IdentityFile /home/slendl/.ssh/id_ed25519_proxmox_leah

Host nest2 nest2.leah.proxmox.com
  HostName 192.168.23.162
  ForwardAgent yes
  User root
  IdentityFile /home/slendl/.ssh/id_ed25519_proxmox_leah

Host nest3 nest3.leah.proxmox.com
  HostName 192.168.23.163
  ForwardAgent yes
  User root
  IdentityFile /home/slendl/.ssh/id_ed25519_proxmox_leah

Host nest4 nest4.leah.proxmox.com
  HostName 192.168.23.164
  ForwardAgent yes
  User root
  IdentityFile /home/slendl/.ssh/id_ed25519_proxmox_leah

Host nest9 nest9.leah.proxmox.com
  HostName 192.168.23.169
  ForwardAgent yes
  User root
  IdentityFile /home/slendl/.ssh/id_ed25519_proxmox_leah

Host router router.leah.proxmox.com
  HostName 192.168.23.190
  ForwardAgent yes
  User root
  IdentityFile /home/slendl/.ssh/id_ed25519_proxmox_leah

Host proxdev
  HostName proxdev.maurer-it.com
  User gitolite3
  IdentityFile /home/slendl/.ssh/id_ed25519_proxmox_leah

Host git.proxmox.com
  IdentityFile /home/slendl/.ssh/id_ed25519_proxmox_leah
