# -*- mode: ssh-config -*-
# vi: ft=sshconfig

# host wien.pulswerk.at
#     user root
#     hostname wien.pulswerk.at
#     PreferredAuthentications publickey
#     ForwardAgent yes

host web7.pulswerk.local
    user root
    hostname web7
    # hostname 192.168.22.7
    # ProxyJump wien.pulswerk.at
    PreferredAuthentications publickey
    ForwardAgent yes

host dokku.pulswerk.local
    user root
    # hostname 192.168.22.21
    # hostname dokku.pulswerk.local
    # ProxyJump wien.pulswerk.at
    PreferredAuthentications publickey
    ForwardAgent yes

host web.pulswerk.local
    user root
    # hostname 192.168.22.20
    hostname web.pulswerk.local
    # ProxyJump wien.pulswerk.at
    PreferredAuthentications publickey
    ForwardAgent yes

host web03.pulswerk.at
    user lendl
    hostname web03.pulswerk.at
    PreferredAuthentications publickey
    ForwardAgent yes
    ProxyJump dokku.pulswerk.local

host ecology.at
    user pulswerk
    hostname ecology.at
    PreferredAuthentications publickey
    # IdentityFile ~/.ssh/id_ecdsa_manjaro
    ForwardAgent no
