/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */

* {
    color: #eceff4;
    border: 0;
    border-color: #2e3440;
    border-radius: 0;
    padding: 0 0;
    font-family:MesloLGS NF;
    /* font-size: 15px; */
    margin-right: 5px;
    margin-left: 5px;
    /* padding-top:3px; */
    /* padding-bottom:3px; */
}

window#waybar {
    background:#2e3440;
}

#workspaces button {
    color: #d8dee9;
    padding-left: 4px;
    padding-right: 4px;
}

.window-shell {
    font-size: 80%;
}

#workspaces button.focused {
    color: #d8dee9;
    border-style: solid;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #4c566a;
}

#mode {
    color: #a3be8c;
}

#battery, #cpu, #memory,#idle_inhibitor, #temperature,#custom-keyboard-layout, #backlight, #network, #pulseaudio, #mode, #tray, #window,#custom-launcher,#custom-power,#custom-pacman, #custom-network_traffic {
    padding: 0 3px;
    border-style: solid;
}

.critical {
    border: 2px;
    border-color: #bf616a;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#clock {
    color:#a3be8c;
}

#backlight {
    color: #ebcb8b;
}

#battery {
    color: #d8dee9;
}

#battery.charging {
    color: #81a1c1;
}

@keyframes blink {
    to {
        color: #4c566a;
        background-color: #eceff4;
    }
}

#battery.critical:not(.charging) {
    background: #bf616a;
    color: #eceff4;
    animation-name: blink;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#disk {
    color: #b48ead;
}

#cpu {
    color:#a3be8c;
}

#cpu.normal-load {
    color: #ffffa5;
}

#cpu.high-load {
    color:#bf616a;
}

#cpu.critical {
    color:#bf616a;
}

#memory {
    color: #b3a400;
}

#network.disabled {
    color:#bf616a;
}

#network{
    color:#ebcb8b;
}

#network.disconnected {
    color: #bf616a;
}

#pulseaudio {
    color: #b48ead;
}

/* #pulseaudio.muted { */
/*     color: #800020;   /\* TODO *\/ */
/* } */

#temperature {
    color: #8fbcbb;
}

#idle_inhibitor {
    color: #8fbcbb;
}

#idle_inhibitor.activated {
    color: #bf616a;
}

#tray {
    color: #a3be8c;
}

#window{
    border-style: hidden;
    margin-top:1px;
}
#mode{
    margin-bottom:3px;
}
