/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */

* {
    color: #eceff4;
    border: 0;
    border-radius: 0;
    padding: 0 0;
    font-family:MesloLGS NF;
    /* font-size: 15px; */
    margin-right: 5px;
    margin-left: 5px;
    /* padding-top:3px; */
    /* padding-bottom:3px; */
}

window#waybar {
    background:#2e3440;
}

#workspaces button {
    color: #d8dee9;
    /* border: 2px;
          // border-color: #4c566a;
          // border-style: solid;
          // border-radius:25px;
          // padding-left: 5px;
          // padding-right: 5px;
   */
}

.window-shell {
    font-size: 80%;
}

#workspaces button.focused {
    border-color: #81a1c1;
    border: 2px;
}

#workspaces button:nth-child(1).visible{
    border-color: #a3be8c;
}

#workspaces button.visible:nth-child(1) label{
    color: #a3be8c;
}

#workspaces button:nth-child(2).visible{
    border-color: #ebcb8b;
}

#workspaces button.visible:nth-child(2) label{
    color: #ebcb8b;
}

#workspaces button:nth-child(3).visible{
    border-color: #8fbcbb;
}

#workspaces button.visible:nth-child(3) label{
    color: #8fbcbb;
}

#workspaces button:nth-child(4).visible{
    border-color: #b48ead;
}

#workspaces button.visible:nth-child(4) label{
    color: #b48ead;
}

#workspaces button:nth-child(5).visible{
    border-color: #bf616a;
}

#workspaces button.visible:nth-child(5) label{
    color: #bf616a;
}


#mode {
    color: #a3be8c;
}

#battery, #cpu, #memory,#idle_inhibitor, #temperature,#custom-keyboard-layout, #backlight, #network, #pulseaudio, #mode, #tray, #window,#custom-launcher,#custom-power,#custom-pacman, #custom-network_traffic {
    padding: 0 3px;
    border-style: solid;
}

/* TODO does not work */
.critical {
    border: 2px;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#clock {
    color:#a3be8c;
}

#backlight {
    color: #ebcb8b;
}

#battery {
    color: #d8dee9;
}

#battery.charging {
    color: #81a1c1;
}

@keyframes blink {
    to {
        color: #4c566a;
        background-color: #eceff4;
    }
}

#battery.critical:not(.charging) {
    background: #bf616a;
    color: #eceff4;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color:#a3be8c ;
}

#memory {
    color: #8B8000;
}

#network.disabled {
    color:#bf616a;
}

#network{
    color:#ebcb8b;
}

#network.disconnected {
    color: #bf616a;
}

#pulseaudio {
    color: #b48ead;
}

#pulseaudio.muted {
    color: #3b4252;
}

#temperature {
    color: #8fbcbb;
}

#temperature.critical {
    color: #bf616a;
}

#idle_inhibitor {
    color: #8fbcbb;
}

#idle_inhibitor.activated {
    color: #bf616a;
}

#tray {
    color: #a3be8c;
}

#custom-power{
    color: #994C00;
}


#custom-launcher{
    color:#b48ead;
}

#window{
    border-style: hidden;
    margin-top:1px;
}
#mode{
    margin-bottom:3px;
}

#custom-keyboard-layout{
    color:#d08770;
}
